<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<h1><a href="/home">Quay lại trang chủ</a></h1>
<a href="/provinces/create">Tạo mới tỉnh</a>
<div  th:each="pro : ${provinces}" >
    <span th:text="${pro.name}"></span>
    <span th:text="${pro.description}"></span>
    <a th:href="@{/provinces/edit/__${pro.id}__}">Sửa</a>
    <a th:href="@{/provinces/delete/__${pro.id}__}">Xoá</a>
</div>

</body>
</html>