<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<h3>Xoá sản phẩm</h3>
<p><a th:href="@{/product}">Trở lại danh sách sản phẩm</a></p>
<form th:action="@{/product/remove}" th:object="${product}" method="post">
    <input type="hidden" th:field="*{id}"/>
    <div>
        <label>Tên</label>
        <label th:text="${product.name}"></label>
    </div>
    <div>
        <label>Giá</label>
        <label th:text="${product.price}"></label>
    </div>
    <button>Xoá</button>
</form>
</body>
</html>